.jumbotron {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Update align-items to flex-start */
    background-color: #abd1c6;
    padding: 20px 20px 10px;
    border-radius: 5px;
    font-family: 'Heebo', sans-serif;
}

.jumbotron h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.jumbotron p:first-of-type {
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: left;
    align-self: flex-start;
}

.jumbotron p:nth-of-type(2) {
    font-size: 22px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: right;
    align-self: flex-end; /* Update align-self to flex-end */
}

h1, h2 {
    font-family: 'Heebo', sans-serif;
}

/* Font styles for paragraphs */
p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}


.sidebar {
   /* display: none;*/
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

.main {
    padding: 20px;

    padding-bottom: 500px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

.breakpoint-current {
    left: 0;
    margin-top: -10px;
    position: fixed;
   /* top: 33.3333%; */
    width: 3px;
    height: 3px;
    background: red;;
}

section {
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
}


.image-container {
        text-align: center;
}

.map-button {
    background-color: #abd1c6;
    border: 1px solid #abd1c6;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.map-button:hover {
    background-color: #d1abc9;
    border-color: #d1abc9;
    box-shadow: 0 0 50px #d1abc9, 0 0 25px #d1abc9, 0 0 150px #d1abc9, 0 0 200px #d1abc9; /* Increase glow effect on hover */
}

.api-button {
    background-color: #abd1c6;
    border: 1px solid #abd1c6;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.api-button:hover {
    background-color: #d1abc9;
    border-color: #d1abc9;
    box-shadow: 0 0 50px #d1abc9, 0 0 25px #d1abc9, 0 0 150px #d1abc9, 0 0 200px #d1abc9; /* Increase glow effect on hover */
}

.viewing {
    background: #eee;
    border: 2px solid #d1abc9; 
    animation: pulse 0.75s infinite alternate; /* Add border animation */
}

@keyframes pulse {
    0% {
        border-width: 2px;
    }
    100% {
        border-width: 4px;
    }
}